extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    div Paste your all.json log file below
    form(method="post")
      textarea.form-control(name="log")
      br
      input(type="submit" value="View")
